.loading{
	position: relative;
	height: 100%;
}
.loading:before{
	position: absolute;
	content: "";
	left: 0;
	bottom: 0;
	right: 0;
	top: 0;
	z-index: 1000;
	background: rgba(255,255,255,0.9) no-repeat center center;
	background-image: url('./loading-animation.gif');
}

.logo{
	margin-bottom: 0px;
}

.animate-view-container{
	position: relative;
	min-height: 100%;
}

.animate-view{
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	top: 0;
	background:#eee;
}

.animate-view.ng-enter{
	animation: 3s fadeIn;
	-webkit-animation: 3s fadeIn;
}

.animate-view.ng-leave{
	animation: 3s fadeOut;
	-webkit-animation: 3s fadeOut;
}

@keyframes fadeIn {
	from {opacity: 0; z-index=100;}
	to {opacity: 1;}
}

@-webkit-keyframes fadeIn {
	from {opacity: 0; z-index=100;}
	to {opacity: 1;}
}

@keyframes fadeOut {
	from {opacity: 1; z-index=99;}
	to {opacity: 0;}
}

@-webkit-keyframes fadeOut {
	from {opacity: 1; z-index=99;}
	to {opacity: 0;}
}